/* PC */
@media (min-width: 992px) {
  .header-mobile {
    display: none;
  }
}

/* Tablet & Mobile */
@media (max-width: 991.98px) {
  /* 1. Ẩn thanh nav của PC */
  .navbar {
    display: none;
  }
  /* 2. Đưa logo ra giữa header */
  .header-top {
    position: relative;
  }
  .header-top .logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  /* 3. Tạo menu cho header */
  .header-mobile__icon {
    width: 86px;
    height: 31px;
    position: absolute;
    left: -17px;
    top: 35px;
    color: #fff;
  }
  /* 4. Tạo vùng Overlay*/
  .header__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }
  #menu-checkbox:checked ~ .header__overlay {
    opacity: 1;
    visibility: visible;
  }
  /* 5. Tạo menu drawer */
  .menu-drawer {
    transition: 0.5s;
    position: absolute;
    height: 100vh;
    inset: 0px 40% 0px 0px;
    background-color: rgb(3, 24, 44);
    transform: translateX(-100%);
    z-index: 2;
    padding: 50px 30px;
  }
  #menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  /* 6. Cân chỉnh cho icon Close menu */
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .close__menu-drawer {
    height: 30px;
    width: 30px;
    color: #fff;
  }
  .navbar-mobile {
    margin-top: 40px;
  }
  .navbar__link {
    display: block;
    font-size: 2rem;
  }
  /* 7. Code cho phần Hero */
  .hero {
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
  }
  .hero__content {
    order: 2;
  }
  .hero__media {
    order: 1;
  }
  .hero__images {
    justify-content: center;
  }
  .hero__content {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .hero__heading {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
  .hero__desc {
    width: 100%;
    text-align: center;
  }
  .hero__row {
    width: 100%;
    justify-content: center;
  }

  /* 8. Phần Service */
  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .service-item {
    width: 100%;
  }
  .service__img {
    width: 100%;
  }
  .service-item__desc {
    width: 100%;
  }
  .service-item__body {
    width: 87%;
  }
  .service-item__desc {
    margin-top: 10px;
    width: 85%;
  }
  .service-item__icon {
    margin-left: 0px;
  }
  .service__list {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .service__btn {
    margin: 50px auto;
  }

  /* 9. Phần How it works */
  .how-it-work {
    padding: 0px 0 100px 0;
  }
  .how-it-work__row {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .how-it-work-item {
    width: 100%;
    margin-bottom: 20px;
    height: 345px;
  }
  .how-it-work-item__desc {
    width: 100%;
  }

  /* 10. About */
  .about .container {
    grid-template-columns: 1fr;
  }
  .about-left {
    margin: 0 auto;
    width: 100%;
  }
  .about-right {
    margin: 50px auto 0;
    align-items: center;
  }
  .about-right__heading {
    width: 80%;
    text-align: center;
  }
  .about-right__desc {
    width: 80%;
    text-align: center;
  }
  .about-left__img-small {
    display: none;
  }
  .about-left__img-large {
    width: 100%;
    border-radius: 15px;
  }
  /* 11. Team */
  .dentist-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .dentist-list__item {
    width: 100%;
  }
  .dentist-list__img {
    width: 100%;
    display: flex;
  }
  .dentist-list__img img {
    margin-left: auto;
    margin-right: auto;
    width: 271px;
  }
  /* 12. CTA install */
  .left-cta img {
    display: none;
  }
  .cta-right {
    margin: 0 auto;
    width: 80%;
  }
  .cta-right__heading {
    /* width: 90%; */
  }
  /* 13. Blog */
  .blog .container {
    flex-direction: column;
    row-gap: 50px;
  }
  .blog-left {
    order: 2;
    align-items: center;
  }
  .blog-right {
    order: 1;
  }
  .blog-left__heading {
    width: 80%;
    margin-top: 0;
  }
  .blog-left a {
    margin-top: 0;
  }
  .blog-right__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Footer */
  .footer-top__column1 {
    display: none;
  }
  .footer-top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }
}

/* Mobile */
@media (max-width: 767.98px) {
  /* Header */
  .header-top .action {
    display: none;
  }
  .login__mobile-only {
    display: block;
  }

  /* Hero */
  .hero__img--small {
    display: none;
  }
  .hero__heading {
    width: 100%;
    font-size: 4rem;
  }
  .hero__row {
    padding-bottom: 30px;
  }
  .btn-book__mobile {
    min-width: 160px;
  }
  /* Service */
  .service__desc {
    width: 365px;
  }
  .service__img {
    height: 430px;
  }
  .service-item__desc {
    width: 90%;
  }
  /* How it works */
  .how-it-work__desc {
    width: 380px;
  }
  .how-it-work__row {
    margin-top: 55px;
  }
  .how-it-work-item__icon {
    margin-top: 16px;
  }
  .how-it-work-item__desc {
    width: 85%;
  }
  .how-it-work-item__heading,
  .how-it-work-item__icon,
  .how-it-work-item__desc,
  .how-it-work-item a {
    margin-left: 30px;
    margin-right: 30px;
  }
  /* Team */
  .dentist-list {
    grid-template-columns: 1fr;
  }
  /* CTA install */
  .cta-right__heading {
    width: 90%;
    font-size: 3.8rem;
  }
  .cta-right__desc {
    width: 100%;
  }
  .cta-right__app {
    justify-content: center;
  }
  /* Blog */
  .blog-right {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .section-heading-h2 {
    font-size: 4rem;
    text-align: center;
  }
  /* Booking */
  .booking__heading {
    width: 100%;
  }
  .booking__heading {
    width: 85%;
  }
  .booking__desc {
    width: 85%;
  }
  /* Footer */
  .footer-top {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .footer-top__column1--desc,
  .footer-top__column2--desc,
  .footer-top__column3--desc,
  .footer-top__column4--desc {
    width: 100%;
    font-size: 1.6rem;
  }
}

/* Tạm ẩn phần không liên quan */
